body {
	color: #666;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-weight: lighter;
	margin: 0 auto;
	padding: 15px;
	font-size: 16px;
	max-width: 900px;
	-webkit-font-smoothing: subpixel-antialiased;
}

body::selection {
	background: #d1d6e9;
}

::selection {
	background: #d1d6e9;
}

nav {
	border-bottom: 5px #ddd solid;
	font-size: 16px;
}

nav ul{
	list-style: none;
	text-align: center;
	padding: 0;
	padding: 0;
	margin: 15px 0;
}

nav ul li {
	display: inline-block;
	float: left;
	padding: 0;
	margin: 0 20px 0 0;
}

nav ::after {
	content : " ";
	display: table;
	clear: both;
} /* clearfix */

footer {
	border-top: 5px #ddd solid;
	padding-top: 10px;
	margin-top: 20px;
}

h1,h2,h3,h4,h5,h6 {
	color: #333;
	font-weight: 500;
}

h1{
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

.caption,
.date {
	color: #aaa;
	margin-top: -1.5em;
	font-size: 14px;
	font-weight: bold;
}

.blog-nav {
	background: #dfdfdf;
}

.blog-nav p {
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blog-nav-next,
.blog-nav-previous {
	display: inline-block;
	width: 46%;
	height: 100%;
	padding: 2%;
	margin-bottom: 0px;
}

.blog-nav-next:hover,
.blog-nav-previous:hover {
	background: #f4f4f4;
}

.blog-nav-next {
	float: left;
}

.blog-nav-previous {
	float: right;
	text-align: right;
}

.blog-nav::after {
	content : " ";
	display: table;
	clear: both;
} /* clearfix */

p,b,a,blockquote,li,td,tr,th {
	line-height: 30px;
	margin: 0 0 1em;
}

blockquote {
	color: #555;
	border-left: 1px solid #ddd;
	font-style: italic;
	padding-left: 20px;
}

a {
	border-radius: 2px;
	color: #69749b;
	text-decoration: none;
}

a:hover {
	color: #a8bdd8;
}

hr {
	border: none;
	border-top: 1px #ddd solid;
}

hr.postSeperator {
	border: none;
	border-top: 5px #ddd solid;
	margin-bottom: 3em;
}

.bio {
	border-bottom: 5px #ddd solid;
	font-size: 30px;
	line-height: 40px;
	padding: 30px 0px 30px 0px;
}

pre {
	padding: 10px;
	font-size: 12px;
	line-height: 20px;
	max-width: 100%;
	overflow-x: scroll;

	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Images */

img {
	max-width: 100%;
	height: auto;
}

/* Tables */
table {
	border-spacing: 0px;
	margin-bottom: 20px;
}

td {
	padding: 4px 10px;
}

tr:nth-child(n+2) td:nth-child(2n+2) {
	background: rgba(87, 95, 120, 0.05);
}

tr:first-child, th {
	background: rgba(87, 95, 120, 0.5);
	color: #fff;
}

tr:nth-child(n+2)>td {
	border-bottom: 1px solid rgba(87, 95, 120, 0.2);
}

tr:nth-child(n+2):hover{
	background: rgba(0, 0, 0, 0.05);
}

/* Posts */

.post{
	padding: 4px;
	background: none;
}

.post p {
	font-size: 10px;
}

.post a {
	margin-left: -4px;
}

.post a span {
	font-size: 12px;
	padding-left: 4px;
}

div.grid a{
	/* div.grid img{*/
	display: inline-block;
	height: 150px;
	width: 150px;
	padding: none !important;
	transition: .2s;
}

div.grid a:hover {
	background: none;
	opacity: .25;
	transition: 0.2s;
}

.sectionBreak {
	border-top:1px #ddd solid;
	border-bottom:1px #ddd solid;
	margin-top: 20px;
	padding: 8px 0 10px;
}

.sectionBreak>*{
	padding:0px;
	margin:0px;
}

/* Apps */

.hor-scroller {
	overflow: scroll;
	overflow-y: hidden !important;
	white-space: nowrap;
	padding: 10px 0;
}

.hor-scroller img {
	display: inline-block;
	padding-right: 10px;
}

/* Errors */

.error {
	text-align: center;
	margin: 50px 0;
}

.error h2 {
	font-family: "Georgia";
	font-size: 400%;
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	padding: 5px 0 15px;
	width: 25%;
	margin: 50px auto;
}