body {
	color: #404040;
	font-family: -Apple-System, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
	margin: 0 auto;
    padding: 5px 5%;
	font-size: 1em;
	max-width: 1000px;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
    color: #111;
    font-weight: 600;
    padding: 1em 0 0 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

/* Navigation */

nav {
    font-size: 18px;
    font-weight: 600;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 15px 0;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 20px 0 0;
}

nav ::after {
    content : " ";
    display: table;
    clear: both;
    /* clearfix */
}

/* Lists */

ul {
    margin: 10px 15px 0 0;
}

li {
    margin: 1em;
}

li > ul >li {
    line-height: 18px;
}

/* Footer */

footer {
    margin-top: 20px;
}

footer ul{
    list-style: none;
    text-align: center;
    padding: 0;
    padding: 0;
    margin: 15px 0;
}

footer ul li {
    font-size: 0.9em;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 20px 0 0;
}

footer ul::after {
    content : " ";
    display: table;
    clear: both;
    /* clearfix */
}

/* Fancy text */

.caption,
.date {
    color: #555;
    margin-top: -1.5em;
    font-size: 0.8em;
}

.bio {
    font-size: 2em;
    margin: 0;
    padding: 1em 0 1em 0;
}

/* Blog Page Navigation */

.blog-nav {
    padding-top: 2em;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.blog-nav::after {
    content : " ";
    display: table;
    clear: both;
    /* clearfix */
}

.blog-nav > div {
    height: 50px;
    width: 33%;
    float: left;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: table;
}

.blog-nav a {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.blog-nav p {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.blog-nav-active {
    background: #f4f4f4;
}

.blog-nav-active:hover {
    background: #fafafa;
    transition: background 0.2s;
}

.blog-nav-disabled, .blog-nav-page {
  background: #fafafa;
}

/* In-Post Navigation */

.post-nav p {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-nav-next,
.post-nav-previous {
    display: inline-block;
    width: 46%;
    height: 100%;
    padding: 2%;
    margin-bottom: 0px;
}

.post-nav-next:hover,
.post-nav-previous:hover {
    background: #f4f4f4;
}

.post-nav-next {
    float: left;
}

.post-nav-previous {
    float: right;
    text-align: right;
}

.post-nav::after {
    content : " ";
    display: table;
    clear: both;
    /* clearfix */
}

/* General Styles */

p, b, a, blockquote, td, tr, th {
    line-height: 1.5em;
    margin: 0 0 1em;
}

video {
    max-width: 100%;
}


blockquote {
    border-left: 5px #eee solid;
    color: #666;
    font-style: italic;
    padding: 10px 20px;
    margin-bottom: 1em;
}

a {
    color: #efbd3b;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #ff59b7;
}

hr {
    border: none;
    border-top: 10px #eee solid;
    margin-top: 2em;
}

pre {
    font-family: Menlo;
    max-width: 100%;
    overflow-x: scroll;
    white-space: pre-wrap;
}

code {
    background: #f8f8f8;
    padding: 0px 2px 4px 2px;
    border-radius: 2px;
}

/* Images */

img {
    max-width: 100%;
    height: auto;
}

/* Video */

video {
    background: #000;
}


/* Tables */

.table-container {
    overflow-x: scroll;
}
table {
    border-spacing: 0px;
    margin-bottom: 1em;
}

table.narrow {
    width: 300px;
}

td {
    padding: 5px 10px;
}

tr:nth-child(n+2) td:nth-child(n+2) {
    border-left: 0.5px solid black;
}

tr:first-child, th {
    background: #404040;
    color: #fff;
}

tr:nth-child(n+2)>td {
    border-bottom: 0.5px solid #404040;
}

tr:last-child>td {
    border-bottom: none;
}

tr:nth-child(n+2):hover{
    background: #eaeaea;
    transition: background 0.2s;
}

/* Photo Grid */

.grid > a {
    display: inline-block;
    position: relative;
    line-height: 0px;
    margin: 0 1em 1em 0;
}

.grid a:hover {
    transition: color 0.2s;
}

.grid > a > img {
    width: 150px;
    height: 150px;
}

.grid > a > p {
    position: absolute;
    background: rgba(255, 255, 255, .95);
    padding: 5px;
    max-width: 120px;
    max-height: 100px;

    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Apps */

.hor-scroller {
    overflow: scroll;
    overflow-y: hidden !important;
    white-space: nowrap;
    padding: 10px 0;
}

.hor-scroller img {
    display: inline-block;
    padding-right: 10px;
}

.iphone-568 img {
    height: 568px;
    width: auto;
}

.iphone-480 img {
    height: 480px;
    width: auto;
}

/* Errors */

.error {
    text-align: center;
    margin: 50px 0;
}

.error h2 {
    font-size: 400%;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 5px 0 15px;
    width: 25%;
    margin: 50px auto;
}