body {
	color: #666;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	margin: 0 auto;
	padding: 15px;
	font-size: 1em;
	max-width: 900px;
	-webkit-font-smoothing: subpixel-antialiased;
}

::selection {
	background: #d1d6e9;
}

.no-select::hover {
	background: none;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
	color: #333;
	font-weight: 600;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

/* Navigation */

nav {
	font-size: 16px;
}

nav ul{
	list-style: none;
	text-align: center;
	padding: 0;
	padding: 0;
	margin: 15px 0;
}

nav ul li {
	display: inline-block;
	float: left;
	padding: 0;
	margin: 0 20px 0 0;
}

nav ::after {
	content : " ";
	display: table;
	clear: both;
	/* clearfix */
} 

/* Lists */

ul {
	margin: 10px 15px 0 0;
}

li > ul >li {
	line-height: 14px;
}

/* Footer */

footer {
	margin-top: 20px;
}

footer li {
	font-size: 0.9em;
	margin: 0;
}

/* Fancy text */

.caption,
.date {
	color: #aaa;
	margin-top: -2em;
	font-size: 0.8em;
}

.bio {
	font-size: 2em;
	margin: 0;
	padding: 1em 0 1em 0;
}

/* Blog Page Navigation */

.blog-nav {
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
}

.blog-nav p {
	margin-bottom: 0px;
}

.blog-nav-next,
.blog-nav-previous,
.blog-nav-page {
	display: block;
	width: 29%;
	height: 100%;
	padding: 2%;
	margin-bottom: 0px;
	float: left;
}

.blog-nav-disabled:hover {
	background: none !important;
}

.blog-nav-next:hover,
.blog-nav-previous:hover {
	background: #f4f4f4;
}

.blog-nav-page {
	margin: 0 auto;
	text-align: center;
	background: #fafafa;
}

.blog-nav-next {
	float: right;
	text-align: right;
}

.blog-nav-previous {
	margin-right: .5%;
}

/* In-Post Navigation */

.post-nav p {
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-nav-next,
.post-nav-previous {
	display: inline-block;
	width: 46%;
	height: 100%;
	padding: 2%;
	margin-bottom: 0px;
}

.post-nav-next:hover,
.post-nav-previous:hover {
	background: #f4f4f4;
}

.post-nav-next {
	float: left;
}

.post-nav-previous {
	float: right;
	text-align: right;
}

.post-nav::after {
	content : " ";
	display: table;
	clear: both;
	/* clearfix */
}

/* General Styles */

p,b,a,blockquote,li,td,tr,th {
	line-height: 30px;
/*	line-height: 1.875em;*/
	margin: 0 0 1em;
}

blockquote {
	color: #555;
	border-left: 1px solid #ddd;
	font-style: italic;
	padding-left: 20px;
}

a {
	border-radius: 2px;
	color: #69749b;
	text-decoration: none;
}

a:hover {
	color: #a8bdd8;
}

hr {
	border: none;
	border-top: 1px #ddd solid;
}

pre {
	padding: 10px 0;
	font-size: 1em;
	line-height: 1.2em;
	max-width: 100%;
	overflow-x: scroll;
	white-space: pre-wrap;
}

/* Images */

img {
	max-width: 100%;
	height: auto;
}

/* Video */

video {
	background: #000;
}


/* Tables */
table {
	border-spacing: 0px;
	margin-bottom: 1em;
}

table.narrow {
	width: 300px;
}

td {
	padding: 5px;
}

tr:nth-child(n+2) td:nth-child(2n+2) {
	background: rgba(87, 95, 120, 0.05);
}

tr:first-child, th {
	background: rgba(87, 95, 120, 0.5);
	color: #fff;
}

tr:nth-child(n+2)>td {
	border-bottom: 1px solid rgba(87, 95, 120, 0.2);
}

tr:last-child>td {
	border-bottom: none;
}

tr:nth-child(n+2):hover{
	background: rgba(0, 0, 0, 0.05);
}

/* Posts */

.post{
	padding: 4px;
	background: none;
}

.post p {
	font-size: 10px;
}

.post a {
	margin-left: -4px;
}

.post a span {
	font-size: 12px;
	padding-left: 4px;
}

/* Photo Grid */

div.grid a{
	display: inline-block;
	height: 150px;
	width: 150px;
	padding: none !important;
	transition: .2s;
}

div.grid a:hover {
	background: none;
	opacity: .25;
	transition: 0.2s;
}

/* Apps */

.hor-scroller {
	overflow: scroll;
	overflow-y: hidden !important;
	white-space: nowrap;
	padding: 10px 0;
}

.hor-scroller img {
	display: inline-block;
	padding-right: 10px;
}

.iphone-568 img {
	height: 568px;
	width: auto;
}

.iphone-480 img {
	height: 480px;
	width: auto;
}

/* Errors */

.error {
	text-align: center;
	margin: 50px 0;
}

.error h2 {
	font-size: 400%;
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	padding: 5px 0 15px;
	width: 25%;
	margin: 50px auto;
}