---
title: Joe O'Reilly
recent_post_count: 5
---

{% include header.html %}

<center>
	<p>I'm Joseph, I build <a href="http://www.tvplayer.com/apps/">TVPlayer</a> and <a href="/apps">other things</a> at <a href="http://simplestream.com">Simplestream</a></p>
</center>

<h3>{{ page.recent_post_count }} Recent Posts</h3>
<p class="caption"><a href="/blog/">Full archive</a></p>

{% assign counter = 0 %}

{% for post in site.posts %}
	{% if counter < page.recent_post_count %}
	    {% assign counter=counter | plus:1 %}
		<p><a href="{{ post.url }}">{{ post.title }}</a></p>

		{% if post.date %}
			<p class="caption">{{ post.date|date:"%d %b %Y" }}  {% if post.subtitle %} &mdash; {{ post.subtitle }} {% endif %}</p></p>
		{% elsif post.subtitle %}
			<p class="caption">{{ post.subtitle }}</p>
		{% endif %}
		<hr>
	{% endif %}
{% endfor %}

{% include footer.html %}