<!doctype HTML>
<html>

<head>
	<title>Joseph O'Reilly</title>
	
	<link rel="stylesheet" type="text/css" href="/css/core.css">
	<link rel="stylesheet" type="text/css" href="/css/tomorrow-night.css">

	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/highlight.pack.js"></script>	
	<script type="text/javascript" src="//use.typekit.net/nyb3qqd.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
	
	<header>
		<h1>Joseph O'Reilly</h1>
		<hr>
	</header>