---
title: Work
---

{% include header.html %}

	<h2>Old Art Work</h2>

	<p>Some of the illustrations I've completed in the last five or six years, a few are unfinished.</p>
	
	<h3>Adobe Illustrator</h3>
	<div class="grid">
		<a href="/media/illustrations/admiralty-arch.jpg"><p>Admiralty Arch</p><img src="/media/illustrations/thumbs/admiralty-arch.jpg" alt="Admiralty Arch"></a>
		<a href="/media/illustrations/can-can.png"><p>Can Can</p><img src="/media/illustrations/thumbs/can-can.jpg" alt="Can Can"></a>
		<a href="/media/illustrations/guitarist.png"><p>Guitarist</p><img src="/media/illustrations/thumbs/guitarist.jpg" alt="Guitarist"></a>
		<a href="/media/illustrations/national-gallery.jpg"><p>National Gallery</p><img src="/media/illustrations/thumbs/national-gallery.jpg" alt="National Gallery"></a>
		<a href="/media/illustrations/stephen.jpg"><p>Stephen Fry</p><img src="/media/illustrations/thumbs/stephen.jpg" alt="Stephen Fry"></a>
		<a href="/media/illustrations/tae-kwon-do.png"><p>Tae Kwon Do</p><img src="/media/illustrations/thumbs/tae-kwon-do.jpg" alt="Tae Kwon Do"></a>
		<a href="/media/illustrations/lucy.png"><p>Lucy</p><img src="/media/illustrations/thumbs/lucy.png" alt="Lucy"></a>
		<a href="/media/illustrations/posh.jpg"><p>Posh</p><img src="/media/illustrations/thumbs/posh.jpg" alt="Posh"></a>
		<a href="/media/illustrations/brassai-lichtenstein.jpg"><p>Brassai-Lichtenstein</p><img src="/media/illustrations/thumbs/brassai-lichtenstein.jpg" alt="Brassai-Lichtenstein"></a>
		<a href="/media/illustrations/the-monster.jpg"><p>The Monster</p><img src="/media/illustrations/thumbs/the-monster.jpg" alt="The Monster"></a>
	</div>

	<hr>

	<h3>Digital painting</h3>
	<div class="grid">
		<a href="/media/illustrations/floating-city.jpg"><p>Floating City</p><img src="/media/illustrations/thumbs/floating-city.jpg" alt="Floating City"></a>
		<a href="/media/illustrations/cctv.jpg"><p>CCTV</p><img src="/media/illustrations/thumbs/cctv.jpg" alt="CCTV"></a>
		<a href="/media/illustrations/police-officer.jpg"><p>Police Office</p><img src="/media/illustrations/thumbs/police-officer.jpg" alt="Police Office"></a>
		<a href="/media/illustrations/light-bulb.jpg"><p>Light Bulb Water Slide</p><img src="/media/illustrations/thumbs/light-bulb.jpg" alt="Light Bulb Water Slide"></a>
	</div>

{% include footer.html %}