---
title: Work
---

{% include header.html %}

	<h2>Old Art Work</h2>

	<p>Some of the illustrations I've completed in the last five or six years, a few are unfinished.</p>
	
	<h3>Adobe Illustrator</h2>
	<div class="grid">
		<a href="/media/illustrations/admiralty-arch.jpg" title="Admiralty Arch"> <img src="/media/illustrations/thumbs/admiralty-arch.jpg"></a>
		<a href="/media/illustrations/can-can.png" title="Can Can"> <img src="/media/illustrations/thumbs/can-can.jpg"></a>
		<a href="/media/illustrations/guitarist.png" title="Guitarist"> <img src="/media/illustrations/thumbs/guitarist.jpg"></a>
		<a href="/media/illustrations/national-gallery.jpg" title="National Gallery"> <img src="/media/illustrations/thumbs/national-gallery.jpg"></a>
		<a href="/media/illustrations/stephen.jpg" title="Stephen"> <img src="/media/illustrations/thumbs/stephen.jpg"></a>
		<a href="/media/illustrations/tae-kwon-do.png" title="Tae Kwon Do"> <img src="/media/illustrations/thumbs/tae-kwon-do.jpg"></a>
		<a href="/media/illustrations/lucy.png" title="Lucy"> <img src="/media/illustrations/thumbs/lucy.png"></a>
		<a href="/media/illustrations/posh.jpg" title="Posh"> <img src="/media/illustrations/thumbs/posh.jpg"></a>
		<a href="/media/illustrations/brassai-lichtenstein.jpg" title="Brassai-Lichtenstein"> <img src="/media/illustrations/thumbs/brassai-lichtenstein.jpg"></a>
		<a href="/media/illustrations/the-monster.jpg" title="The Monster"> <img src="/media/illustrations/thumbs/the-monster.jpg"></a>
	</div>

	<hr/>

	<h3>Digital painting</h2>
	<div class="grid">
		<a href="/media/illustrations/floating-city.jpg" title="Floating City"><img src="/media/illustrations/thumbs/floating-city.jpg"></a>
		<a href="/media/illustrations/cctv.jpg" title="CCTV"><img src="/media/illustrations/thumbs/cctv.jpg"></a>
		<a href="/media/illustrations/police-officer.jpg" title="Police Office"><img src="/media/illustrations/thumbs/police-officer.jpg"></a>
		<a href="/media/illustrations/light-bulb.jpg" title="Light Bulb Water Slide"><img src="/media/illustrations/thumbs/light-bulb.jpg"></a>
	</div>

{% include footer.html %}