---
title: Work
---

{% include header.html %}

	<h2>Old Art Work</h2>

	<p>Some of the illustrations I've completed in the last five or six years, a few are unfinished.</p>
	
	<h3>Adobe Illustrator</h3>
	<div class="grid">
		<a href="/media/illustrations/admiralty-arch.jpg"> <img src="/media/illustrations/thumbs/admiralty-arch.jpg" alt="Admiralty Arch"></a>
		<a href="/media/illustrations/can-can.png"> <img src="/media/illustrations/thumbs/can-can.jpg" alt="Can Can"></a>
		<a href="/media/illustrations/guitarist.png"> <img src="/media/illustrations/thumbs/guitarist.jpg" alt="Guitarist"></a>
		<a href="/media/illustrations/national-gallery.jpg"> <img src="/media/illustrations/thumbs/national-gallery.jpg" alt="National Gallery"></a>
		<a href="/media/illustrations/stephen.jpg"> <img src="/media/illustrations/thumbs/stephen.jpg" alt="Stephen"></a>
		<a href="/media/illustrations/tae-kwon-do.png"> <img src="/media/illustrations/thumbs/tae-kwon-do.jpg" alt="Tae Kwon Do"></a>
		<a href="/media/illustrations/lucy.png"> <img src="/media/illustrations/thumbs/lucy.png" alt="Lucy"></a>
		<a href="/media/illustrations/posh.jpg"> <img src="/media/illustrations/thumbs/posh.jpg" alt="Posh"></a>
		<a href="/media/illustrations/brassai-lichtenstein.jpg"> <img src="/media/illustrations/thumbs/brassai-lichtenstein.jpg" alt="Brassai-Lichtenstein"></a>
		<a href="/media/illustrations/the-monster.jpg"> <img src="/media/illustrations/thumbs/the-monster.jpg" alt="The Monster"></a>
	</div>

	<hr>

	<h3>Digital painting</h3>
	<div class="grid">
		<a href="/media/illustrations/floating-city.jpg"><img src="/media/illustrations/thumbs/floating-city.jpg" alt="Floating City"></a>
		<a href="/media/illustrations/cctv.jpg"><img src="/media/illustrations/thumbs/cctv.jpg" alt="CCTV"></a>
		<a href="/media/illustrations/police-officer.jpg"><img src="/media/illustrations/thumbs/police-officer.jpg" alt="Police Office"></a>
		<a href="/media/illustrations/light-bulb.jpg"><img src="/media/illustrations/thumbs/light-bulb.jpg" alt="Light Bulb Water Slide"></a>
	</div>

{% include footer.html %}