---
title: Apps
---

{% include header.html %}

<h2>iOS Apps I've worked on</h2>

<h3>TVPlayer</h3>
<p class="caption"><a href="https://itunes.apple.com/gb/app/tvplayer-watch-live-and-catchup-tv/id710530377?mt=8">App Store</a>, <a href="http://www.tvplayer.com/">Web</a></p>

<div class="hor-scroller iphone-568">
	<img src="/media/images/apps/tvplayer_1.png" alt="TVPlayer, Live">
	<img src="/media/images/apps/tvplayer_2.png" alt="TVPlayer, Search">
	<img src="/media/images/apps/tvplayer_3.png" alt="TVPlayer, Channels">
	<img src="/media/images/apps/tvplayer_4.png" alt="TVPlayer">
</div>

<hr>

<h3>Box Nation</h3>
<p class="caption"><a href="https://itunes.apple.com/gb/app/boxnation/id587799142?mt=8">App Store</a>, <a href="http://www.boxnation.com/apps-page/">Web</a></p>

<div class="hor-scroller iphone-568">
	<img src="/media/images/apps/box_nation_1.png" alt="BoxNation, Featured">
	<img src="/media/images/apps/box_nation_2.png" alt="BoxNation, Live">
	<img src="/media/images/apps/box_nation_3.png" alt="BoxNation, On Demand">
	<img src="/media/images/apps/box_nation_4.png" alt="BoxNation, Upcoming Fights">
	<img src="/media/images/apps/box_nation_5.png" alt="BoxNation, Schedule">
</div>

<hr>

<h3>Project Risk Gauage</h3>
<p class="caption"><a href="http://appstore.com/projectriskgauge">App Store</a>, <a href="http://bestoutcome.com/risk">Web</a></p>

<div class="hor-scroller iphone-480">
	<img src="/media/images/apps/risk_1.png" alt="Project Risk Gauge, No Projects">
	<img src="/media/images/apps/risk_2.png" alt="Project Risk Gauge, Add Project">
	<img src="/media/images/apps/risk_3.png" alt="Project Risk Gauge, Projects">
	<img src="/media/images/apps/risk_4.png" alt="Project Risk Gauge, My Risky Project">
	<img src="/media/images/apps/risk_5.png" alt="Project Risk Gauge, PDF Output">
</div>

{% include footer.html %}