---
title: Apps
---

{% include header.html %}

<h3>Apps I've worked on</h3>

<style>
	.hor-scroller {
		overflow: scroll;
		overflow-y: hidden !important;
/*		height: 538px;*/
		white-space: nowrap;
		padding: 10px 0;
	}
	
	.hor-scroller img {
		display: inline-block;
		padding-right: 10px;
	}
	
/*	.hor-scroller img */
</style>

<h2>Project Risk Gauage</h2>
<p class="date">
	<span class="date">July 2013</span> &mdash; <span><a href="http://appstore.com/projectriskgauge">App Store</a></span>, <span><a href="http://bestoutcome.com/risk">Web</a></span></p>
</p>

<div class="hor-scroller" height="480px">
	<img src="/media/images/apps/risk_1.png" width="320px" height="480">
	<img src="/media/images/apps/risk_2.png" width="320px" height="480">
	<img src="/media/images/apps/risk_3.png" width="320px" height="480">
	<img src="/media/images/apps/risk_4.png" width="320px" height="480">
	<img src="/media/images/apps/risk_5.png" width="320px" height="480">
</div>

<hr/>

{% include footer.html %}